// bower:scss
// endbower

body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

.container {
  display: inline-block;
}

.category + .category {
  margin-top: 10px;
}

.categoryName {
  font-weight: bold;
  padding: 0 5px;
}

.option {
  display: block;
  padding-right: 5px;
  white-space: nowrap;

  &:hover {
    background-color: yellow;
  }
}

.availability {
  font-size: 50%;
  background-color: yellow;
  border-radius: 5px;
  padding: 3px 5px;
}

.help {
  text-decoration: none;
  vertical-align: super;
  font-size: 80%;
}

.coupon {
  width: 100px;
}