<img style="float:right" ng-src="{{images[hasCoupon]}}" width="100">
<form name="coffeeVendingMachineForm" ng-init="hasCoupon = false">
  <div class="container">
    <fieldset ng-repeat="category in categories" class="category">
      <legend class="categoryName">{{category.name}}</legend>
      <label ng-repeat="option in category.options" class="option">
        <input type="radio"
               name="{{category.name}}"
               value="{{option.name}}"
               ng-model="selections[category.name]"
               ng-change="calculatePrice()"
               required>
        {{option.name}}
        <a ng-href="https://www.google.com/search?q={{option.name}}" target="_blank" ng-class="{help: someExpression, otherClass: hasCoupon}">?</a>
        <span cv-availability availability="{{option.availability}}">foo</span>
      </label>
    </fieldset>
  </div>
  <br/>
  <!-- can't figure out how to use a variable in the value of ng-include -->
  <div ng-include="'/promotion.html'"></div>
  <h3>Price: {{price | currency}}</h3>
  <button type="submit" ng-disabled="coffeeVendingMachineForm.$invalid">Buy</button>
  <button cv-name-selector type="reset" ng-if="coffeeVendingMachineForm.$valid">Cancel</button>
</form>
